.navbar-Principal{
    position: absolute !important;
    width: -webkit-fill-available;
    background-color: rgb(0 0 0 / 42%);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
section{
    padding: 100px 0;
}
@media(max-width: 690px){
    section{
        padding: 20px 0;
    }
}

.titulo
{
    font-family: 'Times New Roman', Times, serif;
    color: #ffffff;
    font-size: 30px;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 50px;
}

.botaoLogin
{
    margin-top: 10px;
    margin-bottom: 10px;
    margin-right: 50px;
}

.nav-container{
    display: flex;
    flex-direction: revert;
    justify-content: space-between;
}

.top{
    color: #ffffff;
    display: flex;
    background: url("../../images/fundo4.jpg");
    height: 50vh;
    min-height: 500px;
    background-size: cover;
    background-attachment: fixed;
}
.top .max-width{
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 100px;
}
.top .top-content .text-1{
    font-size: 25px;
    justify-content: center;
    display: flex;
}