html,
body {
  min-height: 100%;  
}

.css-1bguz3s{
  overflow-x: 'clip' !important;
}

#__next {
  height: 100%;
}

code {
  font-family: 'Inter', sans-serif, -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu',
    'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue';
  padding: 0.1rem 0.4rem;
  font-size: 90%;
  color: #d400ff;
  border-radius: 0.1335rem;
}
code:not([class*='language-']):before,
code:not([class*='language-']):after {
  content: '`';
}
code[class*='language-'] {
  padding: 0;
}

.Footer{
  overflow: hidden;
  justify-content: center;
  align-items: center;
  display: flex;
  width: 100%;
  background-color: #000;
}

.navbar-Principal{
  position: absolute !important;
  width: -webkit-fill-available;
  background-color: rgb(0 0 0 / 42%);   
}

.navbar-Bottom{
  background-color: #000;   
}

section{
  padding: 100px 0;
}
@media(max-width: 690px){
  section{
      padding: 20px 0;
  }
}

h6{
  color: #ffffff;
  font-size: 1.2rem;
  font-family: 'Times New Roman', Times, serif;
}

.top{
  color: #ffffff;
  display: flex;
  /* background: url(""); */
  height: 75vh;
  min-height: 500px;
  background-size: cover;
  background-attachment: fixed;
}
.top .max-width{
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 100px;
}
.top .top-content .text-1{
  font-size: 25px;
  justify-content: center;
  display: flex;
}

 /* Adicione uma imagem de fundo */
 .blog-message {
  box-shadow: #ffffff;
  /* background-image: url('https://c1.wallpaperflare.com/preview/887/213/266/education-school-pencil-desktop.jpg'); */
  background-repeat: no-repeat;
  background-size: cover;
  padding: 50px;
  text-align: center;
  color: #000000;
}

/* Use uma fonte diferente para destacar o texto */
h2, p {
  font-family: 'Arial', sans-serif;
  color: #000000;
  box-shadow: #ececec;
}

/* Use negrito para destacar frases importantes */
h2 strong {
  font-weight: bold;
}

/* Adicione um botão de call-to-action */
.btn {
  display: inline-block;
  padding: 10px 20px;
  background-color: #3f0252;
  color: #fff;
  text-decoration: none;
  border-radius: 5px;
  margin-top: 20px;
}

/* Adicione depoimentos */
.testimonial {
  text-align: center;
  margin-top: 30px;
}

.testimonial p {
  font-style: italic;
}

.divCard {
  justify-Content: center; 
  flex-Direction: column;
  display: flex; 
  align-Items: 'center'; 
  /* background-color: rgb(0 0 0 / 82%); */
}

.divArtigo {
  justify-Content: center;
  flex-Direction: inherit;
  display: flex;
  align-Items: 'center';  
}

.imagemArtigo
{
  justify-content: center;
  display: flex;
}

.tituloArtigo
{
  justify-content: center;
  display: flex;
}

.subTituloArtigo
{
  justify-content: center;
  display: flex;
}

.corpoArtigo
{
  justify-content: center;
  display: flex;
  width: 60%;
  font-size: 2rem !important;
  font-weight: 500;
  left: 20%;
  position: relative;
}

.autorArtigo{
  justify-content: center;
  display: flex;
  color: #000;
}

.curtidas {
  justify-Content: center;
  display: flex; 
  height: 7rem;  
  align-items: center;
}

.curtir{
  color: #000;
}

.alerta{
  color: #fff;
}

.comentarios {
  width: 80em;
  height: 35em;
}
